.CourseField {
  height: 48px;
  border-radius: 16px;
  background: #e8e7e8;
  font-size: 14px;
  line-height: 20px;
  color: #787878;
  float: left;
  padding: 10px;
  border-radius: 5px;
}

.CourseField:focus {
  outline: none;
}

.CourseField-input {
  padding-right: 10px;
}
