.notActiveDesc {
  color: #787878;
  line-height: 15px;
  font-size: 16px;
}
.notActiveButton {
  background: #fefdff;
  color: black;
  width: 56px;
  height: 56px;
  font-size: 0.75rem;
}

.container {
  direction: ltr;
  margin-bottom: 20px;
}

.input {
  border-radius: 16px;
  padding: 10px;
  height: 72px;
  width: 69px;
  box-sizing: border-box;
}

.input:nth-child(4) {
  margin-right: 50px;
}
