@font-face {
  font-family: "IRANYekan";
  src: url("./assets/fontFamily/IRANYekanWeb.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  direction: rtl;
  font-family: IRANYekan;
  transition: 0.5s;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #fefdff;
  color: #272727;
  position: relative;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100%;
}
/* Box Borders */
.grayBox {
  border: 4px solid #e4e4e4;
  border-radius: 32px;
}
